
@media all and (min-width: 1000px) {
  img.model {
    position: absolute;
    left: 34%;
    bottom: 5%;
    width: 62%;
  }
}


@media all and (max-width: 1000px) {
  .lesson {
    width: 50%;
    margin-bottom: 50px;
  }
  
  .top-wrapper h1 {
    font-size: 32px;
  }
  
  .heading h2 {
    font-size: 20px;
  }
  .model {
    width: 100%;
    position: absolute;
    bottom: 5%;
  }
  .text-container {
    position: absolute;
    left: 35%;
    top: 20%;
    text-align: center;
}
}

@media all and (max-width: 900px) {
  .img-1, .img-4 {
    width: 40%;
  }
  .img-2,
  .img-3 {
    width: 40%;
  }
  .content-wrapper {
    max-width: 900px;
    padding-left: 13%;
}
.row{
  width: 100%;
  max-width: 900px; 
}
}


@media all and (max-width: 670px) {
  .content-wrapper {
    max-width: 670px;
    padding-left: 3%;
  }
  .text-container {
    position: absolute;
    left: 13%;
    width: 100%;
    top: 26%;
    text-align: center;
  }
  .row{
    width: 100%;
    max-width: 670px;
  }
  .img-1, .img-4 {
    width: 100%;
  }
  .img-2,
  .img-3 {
    width: 100%;
  }
  .lesson {
    width: 100%;
  }
  .model{
    width: 100%;
    position: absolute;
    bottom: 5%;
  }
  
  .btn {
    width: 100%;
  }
  
  .facebook {
    margin-bottom: 10px;
  }
  
  .top-wrapper {
    text-align: left;
  }
  
  .header-right{
    display:  none;
  }
  
  .menu-icon{
    display:block;
  }

  span.fa.fa-bars.menu-icon {
    display: block;
}
  
  .top-wrapper h1 {
    font-size: 24px;
    line-height: 36px;
  }
  
  .top-wrapper p {
    font-size: 14px;
    line-height: 20px;
  }
  .message-wrapper {
    margin-top: 109%;
}
}
