/* Untuk Tablet */
@media all and (max-width: 1000px) {
  .lesson {
    width: 50%;
    margin-bottom: 50px;
  }
  
  .top-wrapper h1 {
    font-size: 32px;
  }
  
  .heading h2 {
    font-size: 20px;
  }
}

@media all and (max-width: 900px) {
  .img-1, .img-4 {
    width: 40%;
  }
  .img-2,
  .img-3 {
    width: 40%;
  }
  .content-wrapper {
    max-width: 900px;
    padding-left: 13%;
}
.row{
  width: 100%;
  max-width: 900px; 
}
}

/* Untuk Smartphone */
@media all and (max-width: 670px) {
  .content-wrapper {
    max-width: 670px;
    padding-left: 3%;
}
  .row{
    width: 100%;
    max-width: 670px;
  }
  .img-1, .img-4 {
    width: 100%;
  }
  .img-2,
  .img-3 {
    width: 100%;
  }
  .lesson {
    width: 100%;
  }
  
  
  .btn {
    width: 100%;
  }
  
  .facebook {
    margin-bottom: 10px;
  }
  
  .top-wrapper {
    text-align: left;
  }
  
  /* Tambahkan CSS untuk header-right */
  .header-right{
    display:  none;
  }
  
  /* Tambahkan CSS untuk menu-icon */
  .menu-icon{
    display:block;
  }
  
  .top-wrapper h1 {
    font-size: 24px;
    line-height: 36px;
  }
  
  .top-wrapper p {
    font-size: 14px;
    line-height: 20px;
  }
}
